<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411145772214-c9mnlvd08rtipdg452p81vkvjqmrcvj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411145772214-c9mnlvd08rtipdg452p81vkvjqmrcvj4</string>
	<key>API_KEY</key>
	<string>AIzaSyAtWhXbjl7ST9fUGMDjZTSwQbV836U76XU</string>
	<key>GCM_SENDER_ID</key>
	<string>411145772214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokApp</string>
	<key>PROJECT_ID</key>
	<string>tiktok-app-e395a</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-app-e395a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411145772214:ios:8e8663b6524f5cb59c9a17</string>
</dict>
</plist>